<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" charset="IE=edge"/>
    <link rel="stylesheet" th:href="@{static/th1/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" src="static/th1/style.css"/>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <title th:text="title"></title>
</head>
</html>